@import '../../theme';

.project{
    display: flex;
    flex-direction: column;

    .header{
        border-bottom: solid $black 1px;
        margin-bottom: calc($spacing / 2);
        width: 80%;
    
        > h2{
            margin-bottom: -0.1rem;
        }
    
        &:hover{
            cursor: pointer;
        }
    }
    
    .thumbnail{
        background-color: $white;
        border-radius: $border-radius;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        display: flex;
        justify-content: start;
        align-items: center;
        max-height: 50%;
    
        &:hover{
            cursor: pointer;
        }
    
        img {
            border-radius: $border-radius;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
    
    .tag{
        display: inline-block;
        border-radius: $border-radius;
        text-align: center;
        padding: 0 $spacing;
        color: $white;
        font-family: Ravie, cursive;
        font-size: 0.8rem;
    }
}
