@import '../../theme';

.navBar{
    position: relative;
    background-color: $color-primary;
    height: $nav-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing;

    > .logo{
        height: 80%;
    }

    > .navButtons{
        position: absolute;
        z-index: 1;
    }
}

@media only screen and (min-width: $screen-tablet) {
    .navBar{
        padding-inline: $gutter;

        > .navButtons{
            position: static;
        }
    }
}