@import '../../theme';

.navButtons {
    background-color: $color-primary;
    width: 100vw;
    padding: $spacing 0;
    right: 0;
    top: $nav-size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing;

    a {
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;

        &.active{
            text-decoration: underline;
        }
    }

    @media only screen and (min-width: $screen-tablet) {
        flex-direction: row;
        width: inherit;
    }
}
