@import 'theme';

body{
    background-color: $color-bg;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font: italic;
    color: $black;
    font-size: 2rem;
}

h2{
    font: bold;
    color: $black;
    font-size: 1.5rem;
}

p{
    color: $black;
    font-size: 1rem;
}
