$screen-mobile: 375px;
$screen-tablet: 768px;
$screen-web1: 1366px;
$screen-web2: 1920px;

$black: #000;
$white: #fff;

$color-bg: #FFF8ED;
$color-primary: #40476D;

$border-radius: 8px;
$spacing: 16px;
$gutter : 140px;

$nav-size: 50px;
$illusration-max-size: 260px;
